<div id="blog" class="content">
  <app-header [title]="'blog'"></app-header>

  <div class="substance">
    <div *ngFor="let article of articles" class="article">
      <img
        [src]="article.image"
        alt="{{ article.title }}"
        class="article-image"
      />
      <h2>{{ article.title }}</h2>
      <p class="font-roboto">{{ article.summary }}</p>
      <a class="font-roboto" [routerLink]="['/blog', article.slug]">Leer más</a>
    </div>
  </div>

  <app-footer [current]="'blog'"></app-footer>
</div>
