<div id="article" class="content">
  <app-header [title]="''"></app-header>

  <div class="substance">
    @if(article){
    <div id="body">
      <h1>{{ article.title }}</h1>

      <h4>{{ article.summary }}</h4>
      <img
        [src]="article.image"
        alt="{{ article.title }}"
        class="article-image"
      />
      <!-- <p [innerHTML]="article.content"></p> -->
      <app-formatter [content]="article.content"></app-formatter>
    </div>
    } @else if (article === undefined && nullArticle) {
    <div>
      <p>¡Artículo no encontrado!</p>
    </div>
    } @else {
    <div>
      <p>Cargando...</p>
    </div>
    }
  </div>

  <app-footer [current]="'article'"></app-footer>
</div>
