<header>
  <div class="title">
    <h1 class="font-big-shoulders-inline">pedro geovanny</h1>
    <h2 class="font-roboto">> {{ title }}</h2>

    <!-- <div class="menu-btn">
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div> -->
  </div>
  <nav>
    <ul role="list" style="list-style: none" class="font-roboto">
      <!-- <li><a href="/bio">bio</a></li>
      <li><span>music</span></li>
      <li><a href="/games">games</a></li>
      <li><a href="/gallery">gallery</a></li>-->
      <!-- @for (ruta of routes; track ruta){ @if(ruta == title){
      <li>
        <span>{{ ruta }}</span>
      </li>
      } @else {
      <li>
        <a href="/{{ ruta }}">{{ ruta }}</a>
      </li>
      } }@empty{
      <li>
        <span>?</span>
      </li>
      }
      <li><a href="#">contact</a></li> -->
    </ul>
  </nav>
</header>
