@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@property --angle {
  syntax: "<angle>";
  initial-value: -70deg;
  inherits: false;
}

@property --color1 {
  syntax: "<color>";
  initial-value: rgba(255, 20, 79, 0.366);
  inherits: false;
}

@property --color2 {
  syntax: "<color>";
  initial-value: rgba(214, 175, 0, 0.4);
  inherits: false;
}

@property --color3 {
  syntax: "<color>";
  initial-value: rgba(145, 255, 20, 0.466);
  inherits: false;
}

@property --color4 {
  syntax: "<color>";
  initial-value: rgba(66, 43, 0, 0.37);
  // initial-value: rgba(51, 33, 0, 0.37);
  inherits: false;
}

::-webkit-scrollbar {
  width: 0.36rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.72);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

#music {
  overflow-y: scroll;
}

#music::before {
  background-image: url(../../../../../public/images/music.png);
  background-position: 63% bottom;
  background-size: auto 100%;
  filter: blur(0.36rem);

  border-image: fill 1
    conic-gradient(
      from 0deg in oklch,
      var(--color4) 9%,
      var(--color3) 18%,
      var(--color2) 27%,
      var(--color1) 45%,
      var(--color4) 72%
    );
  // animation: rotate 81s linear infinite;
}

header {
  padding: 0.81rem 1.26rem;
  div.title {
    width: 100%;
    display: inline-block;
    text-align: center;
    div#logo {
      padding-top: 0.81rem;
      height: 8.1rem;
      img {
        height: 100%;
        width: auto;
      }
    }
    h1 {
      margin: 0;
      font-size: 3.6rem;
      &::selection {
        background: #000000;
        color: #fff; /* Color blanco para el texto seleccionado */
      }
      &::-moz-selection {
        background: #000000;
        color: #fff; /* Color blanco para el texto seleccionado */
      }
    }

    h2 {
      display: inline-block;
      margin: 0;
      padding-top: 0.36rem;
      font-weight: 500;
      &::selection {
        background: #c5172e;
        color: #fff; /* Color blanco para el texto seleccionado */
      }
      &::-moz-selection {
        background: #c5172e;
        color: #fff; /* Color blanco para el texto seleccionado */
      }
    }

    h3 {
      display: inline-block;
      margin: 0;
      padding-top: 0.72rem;
      font-weight: 500;
    }
  }
}

div.shell {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.intro {
  margin-top: 4.5rem;
  margin-bottom: 9rem;
}

.items-list {
  margin-bottom: 1.8rem;
}

.item {
  padding-bottom: 2.7rem;
  .item-image {
    img {
      width: 100%;
      height: auto;
      border-radius: 0.18rem;
    }
  }

  .item-desc {
    padding-bottom: 1.8rem;
    h2 {
      margin-block: 0;
    }
    p {
      margin-block: 0;
    }
    .year {
      padding-top: 0.45rem;
      padding-bottom: 0.9rem;
    }
    .links {
      padding-top: 1.8rem;
      text-align: center;
      a {
        padding: 0 0.9rem;
      }
    }
  }
}

.text {
  text-align: justify;
}

.bg-black {
  background-color: rgba($color: #000000, $alpha: 0.6);
}

.red-title {
  background-color: rgba($color: #9c0f16, $alpha: 0.6);
  margin-block: 0;
}

.p-s {
  padding: 1.8rem;
}

.p-sy {
  padding: 0 1.8rem;
}

@keyframes rotate {
  to {
    --angle: 290deg;
  }
}

@media (width >= 750px) {
  #music::before {
    filter: blur(0.63rem);
  }
}

@media (width >= 1024px) {
  #music::before {
    background-position: center 63%;
    background-size: 100% auto;
  }

  .substance {
    padding: 0 27vw;
  }
}

@media (width >= 1430px) {
  .substance {
    padding: 0 36vw;
  }
}
