<div id="bio" class="content">
  <app-header [title]="'bio'"></app-header>
  <div class="shell">
    <div class="substance font-roboto">
      <div class="main_text text">
        <p>
          artist, ingeenier, musician, dev
          <br />
          <br />
          for over a decade, I have created digital experiences and solutions
          based on the web, software, music, animation and digital art.
          <br />
          <br />
          one of my earliest memories is of me as a child making paper
          characters to interpret a story, and from that moment on I have never
          stopped being passionate about transmitting ideas through art,
          literature, technology and any other additive that life provides in
          any combination I can imagine.
          <br />
          <br />
          as a specialist in videogame development (university) and artificial
          intelligence (master's degree) I have not only worked on software
          systems but I have also developed animation, musical and web projects.
          <br />
          <br />
          I am currently developing my first independent videogame, I invite you
          to visit the <a href="/games">'games'</a> section if you are
          interested in knowing more about it
          <br />
          <br />
          if you are interested in any kind of collaboration you can contact me
          via email at
          <br />
          <br />
          <a href="mailto:hello@pedrogeovanny.com"
            >hello&#64;pedrogeovanny.com</a
          >
          <!-- <br />
          <a href="mailto:work@pedrogeovanny.com">work&#64;pedrogeovanny.com</a> -->
        </p>
      </div>
      <div class="main_img"></div>
      <div class="a"></div>
      <div class="b"></div>
      <div class="c"></div>
      <div class="d"></div>
      <div class="e"></div>
    </div>
  </div>

  <app-footer [current]="'bio'"></app-footer>
</div>
