<div id="games" class="content">
  <header>
    <div class="title">
      <div class="arinu">
        <img src="/images/arinu.png" alt="" />
      </div>
      <!-- <h3
        style="display: inline-block"
        class="special-gothic-expanded-one-regular"
      >
        presenta
      </h3> -->
      <h3 class="font-roboto">> games by&nbsp;</h3>
      <h3 class="font-big-shoulders-inline">pedro geovanny</h3>
    </div>
  </header>
  <div class="shell">
    <div class="substance">
      <div class="intro">
        <div class="text font-roboto">
          <span class="font-doto">arinu</span> is an interactive experiences
          development studio, created under the premise of creating high quality
          universal content through the synergy of arts and technology.
          <br />
          <br />
          <i>currently developing its first title.</i>
        </div>
      </div>

      <div id="figmea">
        <!-- <div class="space"></div> -->
        <div class="info">
          <div class="logo">
            <span class="font-doto">arinu</span>
            <img src="/images/figmea.png" alt="" />
          </div>
          <div class="desc font-roboto">
            <p>
              Figmea is a 3D runner-exploration game set in a surreal and
              futuristic world where you will have to find your place in a
              society where humans and intelligent animals live together in
              supposed harmony.
              <br />
              <br />
              More info on the game will be shared soon, so please stay tuned
              through my social media channels and this website to know more
              about the development process and the world you are about to
              experience.
              <br />
              <br />
              Discover the secrets of Figmea. Available this year.
            </p>
          </div>
        </div>
        <!-- <div class="endspace"></div> -->
      </div>
      <div class="bypg">
        <img src="/images/pglogo.gif" alt="" />
        <div>
          <!-- <span class="font-big-shoulders-inline">by pedro geovanny</span> -->
        </div>
      </div>
    </div>
  </div>

  <app-footer [current]="'games (arinu)'"></app-footer>
</div>
